<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="BookerAPISuite">
<listeners>
		<listener class-name="api.utilities.ExtentReportManager"></listener>
	</listeners>
  <test thread-count="5" name="BookerAPITest">
    <classes>
      <class name="api.test.BookerPositiveTests"/>
      <class name="api.test.BookerNegativeTests"/>
      <class name="api.test.BookerNegativeTests1"/>
    </classes>
  </test> <!-- BookerAPITest -->
</suite> <!-- BookerAPISuite -->
